/* navMenu */
.navMenu {}
.navMenu__lista {
  margin: 0px;
}
@media (max-width: 610px) {
  .navMenu__lista {
    text-align: center;
  }
}
.navMenu__item {
  display: inline-block;
  vertical-align: middle;
}
.navMenu__link {
  padding: 14px 10px;
  display: block;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
@media (max-width: 610px) {
  .navMenu__link {
    padding: 14px 7px;
    font-size: 11px;
  }
}
